@font-face {
  font-family: 'Karmilla';
  font-style: normal;
  font-weight: normal;
  src: local('Karmilla Regular'), url('https://www.cufonfonts.com/cdn/webfont/karmilla/Karmilla-Regular-015.woff?token=n5H-VVkFe9jth2gbqO1jdDVtcSw2tNvq') format('woff');
}
@font-face {
  font-family: 'Karmilla';
  font-style: normal
  font-weight: bold;
  src: local('Karmilla Bold'), url('https://www.cufonfonts.com/cdn/webfont/karmilla/Karmilla-Bold-014.woff?token=n5H-VVkFe9jth2gbqO1jdDVtcSw2tNvq') format('woff');
}

// Font.
$font: (
  primary: ('Karmilla', Helvetica, Arial, sans-serif),
  monospace: (Monaco, courier, monospace)
);

// Palette.

$palette: (
  primary:           #424b5f,
  secondary:         #283040,
  meta:              #67758d,
  border:            #dee5ef,
  bg:                #f7f9fb,
  note:              #fcb41d,
  important:         #fc381d,
  accent:            getPaletteKey(accent1),
  accent-alt:        getPaletteKey(accent2),
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/docs";
@import "imports/blocks";
@import "imports/footer";
@import "imports/prism";
